/**
 * Custom CSS styles
 */

html {
 font-size: 12pt;
}

body {
 padding: 10px;
}

code {
 color: #999;
}

pre code {
 color: #434f54;
}

h1 a {
 font-size: 11pt;
}

h2#noscript {
 color: red;
 margin: 10px 0;
}

.termsign {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 font-style: normal;
}

#chmodcode {
 margin: 25px;
 font-size: 135%;
 color: #e82a37;
}

#filepath {
 width: 300px;
}

#chmodcommandtocopy {
 font-family: monospace;
 font-size: 90%;
}

.cmdfilepathEdit {
 font-weight: bold;
 color: red;
}

#comEx {
 color: #6e6e6e;
}